<footer>
  <div class="row-fluid push-middle">
    <a href="http://iabsis.com"><img src="{{ TEMPLATE_URL }}/images/logo_iabsis.png"></a>
    </div>
  <div class="row-fluid push-middle">
    <a href="{{ url('about') }}">{% trans from "Module:core" %}About iGestis{% endtrans %}</a> - <a href="{{ url('help') }}">{% trans from "Module:core" %}Need help?{% endtrans %}</a>
  </div>
  <div class="row-fluid push-middle">
    <a href="{{ url('newFeatureReport') }}">{% trans from "Module:core" %}Need new feature?{% endtrans %}</a> - <a href="{{ url('bugReport') }}">{% trans from "Module:core" %}Bug report{% endtrans %}</a>
  </div>
</footer>