{% extends "common.twig" %}

{% set title = {'logo': "emblem-departments",
                'title': "Edit a department"|trans,
                'help': "Modify the information about the selected department"|trans} %}

{% block content %}

{% if RIGHTS_LIST.CORE == "ADMIN" %}

<div class="well">
    <form id="form_data" method='post' action=''>
        <fieldset>
            <legend>General information</legend>
            <div class="row-fluid">
                <div class="span12">
                    {{ forms.input('label', 'Department name'|trans, form_data.label, "Department name"|trans, null, null, false, "required") }}
                    {{ forms.textarea('description', 'Description of the department'|trans, form_data.description, null, null, "textarea") }}
                </div>                
            </div>
            {# This funcitonality will be implemented in the future
            <legend>{% trans %}Application rights{% endtrans %}</legend>            
            <div class="row-fluid">
                {% for module in all_modules_rights %}
                        {% set helpdoc %}
                            {% for documentation in module.RIGHTS_LIST %}
                               <b>{{ documentation.NAME }} :</b> {{ documentation.DESCRIPTION }}<br />
                            {% endfor %}
                        {% endset %}
                    {{ forms.select(module.FIELD_NAME, module.MODULE_FULL_NAME, module.RIGHTS_LIST, 'SELECTED', 'CODE', 'NAME', false, module.MODULE_FULL_NAME, helpdoc) }}
                {% endfor %}
            </div>
            #}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans %}Save changes{% endtrans %}</button>
                <input class="btn" type="button" value="{% trans %}Cancel{% endtrans %}" onclick="javascript:history.go(-1);return true;">
            </div>
        </fieldset>
    </form>
</div>


<script>
$(document).ready(function(){
                $("#form_data").validate({
                        rules:{
                                label:{
                                        required:true
                                },
                                description:{
                                        required:true
                                }
                        },
                        errorClass: "help-inline",
                        errorElement: "span",
                        errorPlacement: function(error, element) {
                            element.parent().after(error);
                        },
                        highlight:function(element, errorClass, validClass) {
                                $(element).parents('.control-group').removeClass('success');
                                $(element).parents('.control-group').addClass('error');
                        },
                        unhighlight: function(element, errorClass, validClass) {
                                $(element).parents('.control-group').removeClass('error');
                                $(element).parents('.control-group').addClass('success');
                        }
                });
        });
</script>

{% else %}{# RIGHTS_LIST.CORE == "ADMIN" #}
    {% set WIZZ = [ {'message': "Error, you don't have permission to access to this page"|trans, 'type': "error"} ] %}
    {% trans %}Nothing to edit.{% endtrans %}
{% endif %}{# RIGHTS_LIST.CORE == "ADMIN" #}

{% endblock %}
