       <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-condensed table-striped" id="table_data">
        <thead>
            <tr>
                <th>{% trans %}Def.{% endtrans %}</th>
                <th>{% trans %}Last name{% endtrans %}</th>
                <th>{% trans %}First name{% endtrans %}</th>
                <th class="hidden-phone">{% trans %}Phone{% endtrans %}</th>
                <th class="hidden-phone">{% trans %}Mobile{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
           {% for row in form_data.contacts %}
                <tr>
                    <td>{% if row.mainContact %}<i class="icon-ok" title="{% trans %}Main contact{% endtrans %}"></i>{% endif %}</td>
                    <td>{{ row.lastname }}</td>
                    <td>{{ row.firstname }}</td>
                    <td class="hidden-phone">{{ row.phone1 }}</td> 
                    <td class="hidden-phone">{{ row.mobile }}</td>
                    <td>
                        <a href="javascript:;" onclick="javascript:edit_contact('{{ row.id }}')" class="btn btn-mini a-visible-line-on-over">
                            <i class="icon-edit"></i> {% trans %}Edit{% endtrans %}
                        </a>
                        <a href="javascript:;" onclick="javascript:delete_contact('{{ row.id }}')" class="btn btn-danger btn-mini a-visible-line-on-over">
                            <i class="icon-trash icon-white"></i> {% trans %}Delete{% endtrans %}
                        </a>
                    </td>
                </tr>
          {% endfor %}
            </tbody>
        </table>