{% extends "common.twig" %}

{% set title = {'logo': "emblem-companies",
                'title': "Edit a company"|trans,
                'help': "Modify the information about the selected company"|trans} %}

{% block content %}

{% if RIGHTS_LIST.CORE == "ADMIN" %}

<div class="well">
    <form id="form_data" method='post' action='' enctype="multipart/form-data">
        <input type="hidden" name="deleteLogo" id="deleteLogo" value="0" />
        <fieldset>
            <legend>General information</legend>
            <div class="row-fluid">
                <div class="span6">
                    {{ forms.input('name', 'Company name'|trans, form_data.name, "Company name"|trans, "Place here your complete company name with legal form"|trans, null, false, "required") }}
                    {{ forms.uploadimage('logo', 'Your logo'|trans, form_data.logo.downloadLink, "Your logo"|trans, "Select your logo"|trans) }}
                    {{ forms.input('address1', 'Postal address'|trans, form_data.address1) }}
                    {{ forms.input('address2', 'Postal address supplement'|trans, form_data.address2) }}
                    {{ forms.input('postalCode', 'Postal code'|trans, form_data.postalCode) }}
                    {{ forms.input('city', 'City'|trans, form_data.city) }}
                    {{ forms.input('phone1', 'Phone'|trans, form_data.phone1) }}
                    {{ forms.input('phone2', 'Phone supplement'|trans, form_data.phone2) }}
                </div>
                <div class="span6">
                    {{ forms.input('mobile', 'Mobile phone'|trans, form_data.mobile) }}
                    {{ forms.input('fax', 'Fax'|trans, form_data.fax) }}
                    {{ forms.input('email', 'Email'|trans, form_data.email) }}
                    {{ forms.input('siteWeb', 'Web site'|trans, form_data.siteWeb) }}
                    {{ forms.input('tvaNumber', 'VAT number'|trans, form_data.tvaNumber) }}
                    {{ forms.input('tvaRating', 'VAT rating'|trans, form_data.tvaRating) }}
                    {{ forms.input('rcs', 'RCS'|trans, form_data.rcs) }}
                </div>
            </div>
            <legend>Bank information</legend>
            <div class="row-fluid">
                <div class="span6">
                    {{ forms.input('banque', 'Bank'|trans, form_data.banque) }}
                    {{ forms.input('iban', 'IBAN'|trans, form_data.iban) }}
                </div>
                <div class="span6">
                    {{ forms.input('rib', 'RIB'|trans, form_data.rib) }}
                    {{ forms.input('symbolMoney', 'Money symbol'|trans, form_data.symbolMoney) }}
                </div>
            </div>
            
            
            <legend>{% trans %}Default users rights{% endtrans %}</legend>

            
            <div class="row-fluid">
                {% for module in all_modules_rights %}
                    <div class="span6">
                        {% set helpdoc %}
                            {% for documentation in module.RIGHTS_LIST %}
                               <b>{{ documentation.NAME }} :</b> {{ documentation.DESCRIPTION }}<br />
                            {% endfor %}
                        {% endset %}
                    {{ forms.select(module.FIELD_NAME, module.MODULE_FULL_NAME, module.RIGHTS_LIST, 'SELECTED', 'CODE', 'NAME', false, module.MODULE_FULL_NAME, helpdoc, null, null) }}
                    <small><p>{{ helpdoc }}</p></small>
                    </div>
                    {% if (loop.index % 2) == 0 %}
                      </div>
                      <br />
                      <div class="row-fluid">
                    {% endif %}
                {% endfor %}
            </div>

            
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans %}Save changes{% endtrans %}</button>
                <input class="btn" type="button" value="{% trans %}Cancel{% endtrans %}" onclick="javascript:history.go(-1);return true;">
            </div>
        </fieldset>
    </form>
</div>


<script>

$(function() {
    $("#form_data").validate({
        rules:{
            name:{
                required:true
            },
            email:{
                email:true
            }
        },
        errorClass: "help-inline",
        errorElement: "span",
        errorPlacement: function(error, element) {
            element.parent().after(error);
        },
        highlight:function(element, errorClass, validClass) {
            $(element).parents('.control-group').removeClass('success');
            $(element).parents('.control-group').addClass('error');
        },
        unhighlight: function(element, errorClass, validClass) {
            $(element).parents('.control-group').removeClass('error');
            $(element).parents('.control-group').addClass('success');
        }
    });
    
    $("#id-delete-logo").bind("click", function() {
        $("#deleteLogo").val(1);
    });
    
});

</script>

{% else %}{# RIGHTS_LIST.CORE == "ADMIN" #}
    {% set WIZZ = [ {'message': "Error, you don't have permission to access to this page"|trans, 'type': "error"} ] %}
    {% trans %}Nothing to edit.{% endtrans %}
{% endif %}{# RIGHTS_LIST.CORE == "ADMIN" #}

{% endblock %}
