{% extends "common.twig" %}

{% set title = {'logo': "emblem-companies",
                'title': "Show a company"|trans,
                'help': "Consult the company details"|trans} %}

{% block content %}
    

<div class="row-fluid">
  <div class="span4">
    <h1>{{ show_data.name }}</h1>
    <p>
        {% if show_data.address1 is not empty %}{{ show_data.address1}}<br />{% endif %}
        {% if show_data.address2 is not empty %}{{ show_data.address2 }}<br />{% endif %}
        {% if show_data.postalCode is not empty %}{{ show_data.postalCode }} {{ show_data.city }}{% endif %}
    </p>
    
    <p>
        {% if show_data.phone1 is not empty %}<i class="icon-phone"></i> <b>{% trans %}Phone{% endtrans %}</b> : {{ show_data.phone1 }}<br />{% endif %}
        {% if show_data.phone2 is not empty %}<i class="icon-phone"></i> {% trans %}Phone supplement{% endtrans %} : {{ show_data.phone2 }}<br />{% endif %}
        {% if show_data.mobile is not empty %}<i class="icon-mobile-phone"></i> <b>{% trans %}Mobile phone{% endtrans %}</b> : {{ show_data.mobile }}<br />{% endif %}
        {% if show_data.fax is not empty %}<i class="icon-print"></i> {% trans %}Fax{% endtrans %} : {{ show_data.fax }}{% endif %}
    </p>
    <p>
        {% if show_data.email is not empty %}<i class="icon-envelope-alt"></i> {% trans %}Email{% endtrans %} : <a href="mailto:{{ show_data.email }}">{{ show_data.email }}</a><br />{% endif %}
        {% if show_data.siteWeb is not empty %}{% trans %}Web site{% endtrans %} : <a href="{{ show_data.siteWeb }}">{{ show_data.siteWeb }}</a>{% endif %}
    </p>
    <p>
        {% if show_data.tvaNumber is not empty %}{% trans %}VAT number{% endtrans %} : {{ show_data.tvaNumber }}<br />{% endif %}
        {% if show_data.banque is not empty %}{% trans %}Bank{% endtrans %} : {{ show_data.banque }}<br />{% endif %}
        {% if show_data.iban is not empty %}{% trans %}IBAN{% endtrans %} : {{ show_data.iban }}<br />{% endif %}
        {% if show_data.rib is not empty %}{% trans %}RIB{% endtrans %} : {{ show_data.rib }}<br />{% endif %}
        {% if show_data.rcs is not empty %}{% trans %}RCS{% endtrans %} : {{ show_data.rcs }}<br />{% endif %}
        {% if show_data.symbolMoney is not empty %}{% trans %}Money symbol{% endtrans %} : {{ show_data.symbolMoney }}{% endif %}
    </p>
  </div>
  <div class="span4">
    <p>
      <div class="fileupload-preview thumbnail" style="width: 200px; height: 150px;">
        <img width="200"  height="" src="{{ show_data.logo.downloadLink }}" />
      </div>
    </p>
    
  </div>
</div>
  <button onclick="javascript:window.history.go(-1);" class="btn btn-info">{% trans %}Back{% endtrans %}</button>


{% endblock %}
