{% extends "common.twig" %}

{% set title = {'logo': "emblem-companies",
                'title': "Companies management"|trans,
                'help': "Add and remove the companies you are owning. This does not include the companies which are your customers."|trans} %}

{% block content %}

<script type="text/javascript">
    function delete_company(id) {
        bootbox.confirm("{% trans %}Are you sure that you want to delete this company ?{% endtrans %}", "{% trans %}No{% endtrans %}", "{% trans %}Yes{% endtrans %}", function(result) {
            if(result) window.location.href="{{ url('companies_delete', {"Id":''}) }}" + id;
        });
    }
</script>

<div class="row-fluid" align="right">
        <a href="{{ url('companies_new') }}" class="btn btn-success btn-small"><i class="icon-plus-sign icon-white"></i> {% trans %}Add new company{% endtrans %}</a>
</div>
<br />

{% import "table.twig" as table %}
{{ table.datatable() }}    

    <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-condensed table-striped" id="table_data">
        <thead>
            <tr>
                <th>{% trans %}Company name{% endtrans %}</th>
                <th>{% trans %}City{% endtrans %}</th>
                <th class="hidden-phone">{% trans %}Phone{% endtrans %}</th>
                <th class="hidden-phone">{% trans %}Mobile{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
           {% for row in table_data %}
                <tr>
                    <td>{{ row.name }}</td>
                    <td>{{ row.city }}</td>  
                    <td class="hidden-phone">{{ row.phone1 }}</td> 
                    <td class="hidden-phone">{{ row.mobile }}</td>
                    <td>
                        <a href="{{ url('companies_show', {'Id':row.id}) }}" class="btn btn-mini a-visible-line-on-over">
                            <i class="icon-eye-open"></i> {% trans %}View{% endtrans %}
                        </a>
                        <a href="{{ url('companies_edit', {'Id':row.id}) }}" class="btn btn-mini a-visible-line-on-over">
                            <i class="icon-edit"></i> {% trans %}Edit{% endtrans %}
                        </a>
                        <a href="javascript:delete_company('{{ row.id }}')" class="btn btn-danger btn-mini a-visible-line-on-over">
                            <i class="icon-trash icon-white"></i> {% trans %}Delete{% endtrans %}
                        </a>
                    </td>
                </tr>
          {% endfor %}
            </tbody>
        </table>

{% endblock %}
