{% extends "common.twig" %}

{% set title = {'logo': "emblem-personal",
                'title': "Set new password"|trans,
                'help': "Fill this form to reset your password"|trans} %}

{% block content %}

{% if isValidCode == true %}

{% import "form.twig" as forms %}
<div class="well">
    <form class="form-horizontal allow-to-quit" id="form_data" method='post' action=''>
        <fieldset>
            <legend>{% trans %}Please choose a new password{% endtrans %}</legend>
            {{ forms.input('password', 'Password'|trans, null, null, null, 'password') }}
            {{ forms.input('password2', 'Confirm password'|trans, null, null, null, 'password') }}
            <div class="form-actions">
                    <button type="submit" class="btn btn-primary">{% trans %}Set the new password{% endtrans %}</button>
                    <a href="{{ url('home_page') }}" class="btn">{% trans %}Back to home page{% endtrans %}</a>
            </div>
        </fieldset>
    </form>
</div>

<script>
$(document).ready(function(){
        $("#form_data").validate({
                rules:{
                        password: {
                                    minlength: 5
                        },
                        password2:{
                                equalTo: "#id-password"
                        }
                },
                errorClass: "help-inline",
                errorElement: "span",
                errorPlacement: function(error, element) {
                        element.parent().after(error);
                },
                highlight:function(element, errorClass, validClass) {
                        $(element).parents('.control-group').removeClass('success');
                        $(element).parents('.control-group').addClass('error');
                },
                unhighlight: function(element, errorClass, validClass) {
                        $(element).parents('.control-group').removeClass('error');
                        $(element).parents('.control-group').addClass('success');
                }
        });
});
    </script>

{% else %}{# isValidCode == true #}
<div class="well">
    <a href="{{ url('reset_password') }}" class="btn btn-primary">{% trans %}Reset again a password{% endtrans %}</a>
    <a href="{{ url('home_page') }}" class="btn">{% trans %}Back to home page{% endtrans %}</a>
</div>
    
    {% set WIZZ = [ {'message': "Error, the link is has expired or is invalid"|trans, 'type': "error"} ] %}
{% endif %}{# isValidCode == true #}

{% endblock %}

