{% extends "common.twig" %}

{% set title = {'logo': "emblem-customers",
                'title': "Create a new customer"|trans,
                'help': "Fill all information about the new customer"|trans} %}

{% block content %}

{% if username != ADMIN_ACCOUNT %}

<div class="well">
    <form class="form" id="form_data" method='post' action=''>
    <input type="hidden" name="method" value="new" />
    <fieldset>
        <legend>{% trans %}Customer information{% endtrans %} {{ form_data.userLabel }}</legend>
        <div class="row-fluid">
            <div class="span6">
	            {{ forms.select('clientTypeCode', 'Customer type'|trans, client_type, form_data.clientTypeCode, 'code', 'label') }}
	            {{ forms.input('userLabel', 'Company name'|trans, form_data.userLabel, "Define the showed name"|trans, "The showed named is the company name in this case."|trans, null, null, "required") }}
	            {{ forms.input('accountCode', 'Third party ID'|trans, form_data.accountCode, "Define the third party ID"|trans, "This field can be used to define a cusomized ID linked with an external software"|trans) }}
            </div>
            <div class="span6">
	            {{ forms.input('tvaNumber', 'VAT number'|trans, form_data.tvaNumber) }}
	            {{ forms.switchbox('tvaInvoice', 'VAT billed'|trans, form_data.tvaInvoice, null, null, "checkbox") }}
	            {{ forms.input('rib', 'Bank account number'|trans, form_data.rib) }}
	        </div>
        </div>
        <legend>{% trans %}Personnal information{% endtrans %} {{ form_data.userLabel }}</legend>
        <div class="row-fluid">
            <div class="span6">
	            {{ forms.input('firstname', 'First name'|trans, form_data.contact.firstname, null, null, null, null, "required") }}
	            {{ forms.input('lastname', 'Last name'|trans, form_data.contact.lastname, null, null, null, null, "required") }}
	            {{ forms.input('login', 'Username'|trans, form_data.contact.login, null, null, null, null, "required") }}
	            {{ forms.input('password', 'Password'|trans, "", "Change password"|trans, "Please choose a good password, with a minimum of 5 caracters."|trans, "password", "false") }}
	            {{ forms.input('password2', 'Password confirmation'|trans, "", "Change password"|trans, "Please choose a good password, with a minimum of 5 caracters."|trans, "password", "false") }}
	            {{ forms.select('civilityCode', 'Civility'|trans, civilities_list, NULL, 'code', 'label') }}
	            {{ forms.input('email', 'Email'|trans, form_data.contact.email) }}
	            {{ forms.select('languageCode', 'Language'|trans, languages_list, form_data.contacts.language, 'code', 'label', true) }}
	            {{ forms.input('address1', 'Postal address'|trans, form_data.contact.address1) }}
            </div>
            <div class="span6">
	            {{ forms.input('address2', 'Postal address supplement'|trans, form_data.contact.address2) }}
	            {{ forms.input('postal_code', 'Postal code'|trans, form_data.contact.postal_code) }}
	            {{ forms.input('city', 'City'|trans, form_data.contact.city) }}
	            {{ forms.select('countryCode', 'Country'|trans, countries_list, form_data.contacts.countryCode, 'code', 'label', true) }}
	            {{ forms.input('phone1', 'Phone'|trans, form_data.contact.phone1) }}
	            {{ forms.input('phone2', 'Phone supplement'|trans, form_data.contact.phone2) }}
	            {{ forms.input('mobile', 'Mobile'|trans, form_data.contact.mobile) }}
	            {{ forms.input('fax', 'Fax'|trans, form_data.contact.fax) }}
	        </div>
        </div>
        <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans %}Save changes{% endtrans %}</button>
                <input class="btn" type="button" value="{% trans %}Cancel{% endtrans %}" onclick="javascript:history.go(-1);return true;">
	    </div>
    </fieldset>
    </form>
</div>

    

    <script>
        $(document).ready(function(){
            $("#id-firstname").keyup(function(){
                $("#id-login").val($("#id-firstname").val().toLowerCase().replace(/[^a-z]/gi, '') + $("#id-lastname").val().toLowerCase().replace(/[^a-z0-9]/gi, ''));
            });
            $("#id-lastname").keyup(function(){
                $("#id-login").val($("#id-firstname").val().toLowerCase().replace(/[^a-z]/gi, '') + $("#id-lastname").val().toLowerCase().replace(/[^a-z0-9]/gi, ''));
            });
        });
        $(function(){
            if ( $("#id-clientTypeCode").val() == "PART") {
                    $("#id-userLabel").parents(".control-group").hide();
            };
            $("#id-clientTypeCode").change(function() {
                if ( $("#id-clientTypeCode").val() == "PART") {
                    $("#id-userLabel").parents(".control-group").hide(150);
                } else {
                    $("#id-userLabel").parents(".control-group").show(150);
                }
            });
        });
        $(document).ready(function(){
	        $("#form_data").validate({
                ignore: "input[type='text']:hidden",
                rules:{
                    userLabel:{
                            required:true
                    },
                    clientTypeCode:{
                            required:true
                    },
                    firstname:{
                            required:true
                    },
                    lastname:{
                            required:true
                    },
                    password: {
                            minlength: 5
                    },
                    password2:{
                            equalTo: "#id-password"
                    },
                    login:{
                            regex: /^[a-z][-a-z0-9]*$/,
                            required:true
                    },
                    email:{
                            email: true
                    },
                    phone1: {
                        unique: true
                    },
                    phone2: {
                        unique: true
                    },
                    mobile: {
                        unique: true
                    },
                    address1: {
                        unique: true
                    },
                    address2: {
                        unique: true
                    }
                },
                messages: {
                    login: {
                        regex: jQuery.format(translations.loginformat)
                    }
                },
                errorClass: "help-inline",
                errorElement: "span",
                highlight:function(element, errorClass, validClass) {
                        $(element).parents('.control-group').removeClass('success');
                        $(element).parents('.control-group').addClass('error');
                },
                unhighlight: function(element, errorClass, validClass) {
                        $(element).parents('.control-group').removeClass('error');
                        $(element).parents('.control-group').addClass('success');
                }
            });
        });
    </script>
    
{% else %}{# if username == ADMIN_ACCOUNT #}

<div class="alert alert-error">
     <strong>{% trans from "Module:core" %}Warning!{% endtrans %}</strong><br />
             {% trans from "Module:core" %}You cannot create a customer or provider, please create an employee account before.{% endtrans %}<br /><br />
     <button class="btn btn-danger" onclick="javascript:window.location.href='{{ url('employees_new') }}'">{% trans from "Module:core" %}Create an employee{% endtrans %}</button>
</div>
{% endif %}

{% endblock %}
