{% extends "common.twig" %}

{% set title = {'logo': "emblem-customers",
                'title': "Customers management"|trans,
                'help': "Add and remove your customers. This also includes the companies which are your customers."|trans} %}

{% block content %}

{% if CONTACT.login != ADMIN_ACCOUNT %}

{% import "table.twig" as table %}
{{ table.datatable() }}


<div id="import_contact" class="modal hide fade">
    {% import "form.twig" as forms %}
	<form class="modal-form form-horizontal" id="contact_data" method="post" action="{{ url('customer_import_step2') }}" enctype="multipart/form-data">
	    <div class="modal-header">
	        <a type="button" class="close" data-dismiss="modal">&times;</a>
	        <h3>{% trans %}Import customers data{% endtrans %}</h3>
	    </div>
	    <div class="modal-body">
	    	    <ul class="nav nav-tabs" id="import_tab">
        	        <li class="active"><a href="#import" data-toggle="tab">Import</a></li>
        	        <li><a href="#help" data-toggle="tab">Help</a></li>
    	        </ul>
    	        
    	        <div class="tab-content">
                    <div class="tab-pane active" id="import">
                      <div class="well well-small">
        		          <legend>{% trans %}Select file source information{% endtrans %}</legend>
        		          <fieldset>
        		              {{ forms.input('csvFile', 'Input text file'|trans, form_data.inputFile, NULL, NULL, "file") }}
        		              {{ forms.input('delimiter', 'Delimiter'|trans, ",", "Field delimiter"|trans, "Delimiter is a caracter used to separate field."|trans) }}
        		              {{ forms.input('enclosure', 'Enclosure'|trans, "\"") }}
        		          </fieldset>
        	          </div>
                    </div>
                    
                    <div class="tab-pane" id="help">
                      {% trans %}The source file has to be in csv format and with utf8 encoding to avoid any special caracters issue.{% endtrans %}
                      <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-condensed table-striped" id="help_import">
                	        <thead>
                	            <tr>
                	            	<th>{% trans %}Field name{% endtrans %}</th>
                	            	<th>{% trans %}Required{% endtrans %}</th>
                	            	<th>{% trans %}Description{% endtrans %}</th>
                	            </tr>
                	        </thead>
                	        <tbody>
                	        	<tr>
                	                <td><b>civilityCode</b></td>
                	                <td>{% trans %}No{% endtrans %}</td>  
                	                <td>{% trans %}Contact civility, possible value{% endtrans %}: <b>MR</b>, <b>DOCTOR</b>, <b>MISS</b>, <b>MRS</b></td> 
                	            </tr>
                	            <tr>
                	                <td><b>login</b></td>
                	                <td>{% trans %}Yes{% endtrans %}</td>  
                	                <td>{% trans %}Must be unique, example{% endtrans %}: <b>dupontd</b></td>
                	            </tr>
                	            <tr>
                	                <td><b>firstname</b></td>
                	                <td>{% trans %}Yes{% endtrans %}</td>  
                	                <td>{% trans %}First contact first name, example{% endtrans %}: <b>Dominique</b></td>
                	            </tr>
                	            <tr>
                	                <td><b>lastname</b></td>
                	                <td>{% trans %}Yes{% endtrans %}</td>  
                	                <td>{% trans %}First contact last name, example{% endtrans %}: <b>Dupont</b></td>
                	            </tr>
                	            <tr>
                	                <td><b>email</b></td>
                	                <td>{% trans %}No{% endtrans %}</td>  
                	                <td>{% trans %}Email, example: {% endtrans %}: </b>dominique.dupont@example.com<b></td>
                	            </tr>
                	            <tr>
                	                <td><b>languageCode</b></td>
                	                <td>{% trans %}No{% endtrans %}</td>  
                	                <td>{% trans %}Two first letter of user Language, example: {% endtrans %}<b>FR</b></td>
                	            </tr>
                	            <tr>
                	                <td><b>address1</b></td>
                	                <td>{% trans %}No{% endtrans %}</td>  
                	                <td>{% trans %}Fist part of the postal address{% endtrans %}</td>
                	            </tr>
                	            <tr>
                	                <td><b>address2</b></td>
                	                <td>{% trans %}No{% endtrans %}</td>  
                	                <td>{% trans %}Second part of the postal address{% endtrans %}</td>
                	            </tr>
                	            <tr>
                	                <td><b>postalCode</b></td>
                	                <td>{% trans %}No{% endtrans %}</td>  
                	                <td>{% trans %}Postal code{% endtrans %}</td>
                	            </tr>
                	            <tr>
                	                <td><b>city</b></td>
                	                <td>{% trans %}No{% endtrans %}</td>  
                	                <td>{% trans %}City name{% endtrans %}</td>
                	            </tr>
                	            <tr>
                	                <td><b>countryCode</b></td>
                	                <td>{% trans %}No{% endtrans %}</td>  
                	                <td>{% trans %}Two first letter of the country{% endtrans %}</td>
                	            </tr>
                	            <tr>
                	                <td><b>countryCode</b></td>
                	                <td>{% trans %}No{% endtrans %}</td>  
                	                <td>{% trans %}Two first letter of the country{% endtrans %}</td>
                	            </tr>
                	            <tr>
                	                <td><b>phone1</b></td>
                	                <td>{% trans %}No{% endtrans %}</td>  
                	                <td>{% trans %}First contact phone{% endtrans %}</td>
                	            </tr>
                	            <tr>
                	                <td><b>phone2</b></td>
                	                <td>{% trans %}No{% endtrans %}</td>  
                	                <td>{% trans %}Second contact phone{% endtrans %}</td>
                	            </tr>
                	            <tr>
                	                <td><b>mobile</b></td>
                	                <td>{% trans %}No{% endtrans %}</td>  
                	                <td>{% trans %}Mobile phone{% endtrans %}</td>
                	            </tr>
                	            <tr>
                	                <td><b>fax</b></td>
                	                <td>{% trans %}No{% endtrans %}</td>  
                	                <td>{% trans %}Fax number{% endtrans %}</td>
                	            </tr>
                	            <tr>
                	                <td><b>clientTypeCode</b></td>
                	                <td>{% trans %}Yes{% endtrans %}</td>  
                	                <td>{% trans %}Customer type, possible value{% endtrans %} :<b>ENTR</b> (enterprise), <b>PART</b> (individual), <b>COLL</b> (collectivity) </td>
                	            </tr>
                	            <tr>
                	                <td><b>userLabel</b></td>
                	                <td>{% trans %}No{% endtrans %}</td>  
                	                <td>{% trans %}Enterprise or collectivity name, empty for individual.{% endtrans %}</td>
                	            </tr>
                	            <tr>
                	                <td><b>userType</b></td>
                	                <td>{% trans %}No{% endtrans %}</td>  
                	                <td>{% trans %}Enterprise or collectivity name, empty for individual.{% endtrans %}</td>
                	            </tr>
                	            <tr>
                	                <td><b>tvaNumber</b></td>
                	                <td>{% trans %}No{% endtrans %}</td>  
                	                <td>{% trans %}VAT number{% endtrans %}</td>
                	            </tr>
                	            <tr>
                	                <td><b>tvaInvoice</b></td>
                	                <td>{% trans %}No{% endtrans %}</td>  
                	                <td>{% trans %}Bolean, does the TVA billed for the customer, possible value{% endtrans %} : <b>true</b>, <b>false</b></td>
                	            </tr>
                	            <tr>
                	                <td><b>rib</b></td>
                	                <td>{% trans %}No{% endtrans %}</td>  
                	                <td>{% trans %}Bank account information{% endtrans %}</td>
                	            </tr>
                	            <tr>
                	                <td><b>accountCode</b></td>
                	                <td>{% trans %}No{% endtrans %}</td>  
                	                <td>{% trans %}Custom user ID, usefull to be linked with external software{% endtrans %}</td>
                	            </tr>
                	        </tbody>
                	    </table>
                    </div>
                </div>
	        
	    </div>
	    <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal" >Close</a>
                <input type="submit" class="btn btn-primary" value="{% trans %}Next step{% endtrans %}" />
	    </div>
	</form>
</div>
    
<script type="text/javascript">
    function delete_customer(id) {
        bootbox.confirm("{% trans %}Are you sure that you want to delete this customer ?{% endtrans %}", "{% trans %}No{% endtrans %}", "{% trans %}Yes{% endtrans %}", function(result) {
            if(result) window.location.href="{{ url('customers_delete', {"Id":''}) }}" + id;
        });
    }
</script>

<div class="container" align="right">
        <a href="{{ url('customers_new') }}" class="btn btn-success btn-small"><i class="icon-plus-sign icon-white"></i> {% trans %}Add new customer{% endtrans %}</a>
        <a data-toggle="modal" href="#import_contact" class="btn btn-small hidden-phone hidden-tablet"><i class="icon-share"></i> {% trans %}Import customers{% endtrans %}</a>
</div>
<br />

    <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-condensed table-striped" id="table_data">
        <thead>
            <tr>
                <th>{% trans %}Denomination{% endtrans %}</th>
                <th>{% trans %}City{% endtrans %}</th>
                <th class="hidden-phone">{% trans %}Phone{% endtrans %}</th>
                <th class="hidden-phone">{% trans %}Mobile{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
           {% for row in table_data %}
                <tr>
                    <td>{{ row.user.userLabel }}</td>
                    <td>{{ row.city }}</td>  
                    <td class="hidden-phone">{{ row.phone1 }}</td> 
                    <td class="hidden-phone">{{ row.mobile }}</td>
                    <td>
                        <a href="{{ url('customers_show', {'Id':row.user.id}) }}" class="btn btn-mini a-visible-line-on-over">
                            <i class="icon-eye-open"></i> {% trans %}View{% endtrans %}
                        </a>
                        <a href="{{ url('customers_edit', {'Id':row.user.id}) }}" class="btn btn-mini a-visible-line-on-over">
                            <i class="icon-edit"></i> {% trans %}Edit{% endtrans %}
                        </a>
                        <a href="javascript:delete_customer('{{ row.user.id }}')" class="btn btn-danger btn-mini a-visible-line-on-over">
                            <i class="icon-trash icon-white"></i> {% trans %}Delete{% endtrans %}
                        </a>
                    </td>
                </tr>
          {% endfor %}
            </tbody>
        </table>

{% else %}{# if CONTACT.login == ADMIN_ACCOUNT #}

<div class="alert alert-error">
     <strong>{% trans from "Module:core" %}Warning!{% endtrans %}</strong><br />
             {% trans from "Module:core" %}You cannot create a customer or provider, please create an employee account before.{% endtrans %}<br /><br />
     <button class="btn btn-danger" onclick="javascript:window.location.href='{{ url('employees_new') }}'">{% trans from "Module:core" %}Create an employee{% endtrans %}</button>
</div>
{% endif %}

        
{% endblock %}
