{% extends "common.twig" %}

{% set title = {'logo': "emblem-people",
                'title': "Show an employee"|trans,
                'help': "Consult the employee details"|trans} %}

{% block content %}

<h2>{{ show_data.contacts.first.civilityCode }} {{ show_data.userLabel }}</h2>
<p>
    {{ show_data.company}}<br />
    {{ show_data.contacts.first.address1 }}<br />
    {{ show_data.contacts.first.address2 }}<br />
    {{ show_data.contacts.first.countryCode }} {{ show_data.contacts.first.postalCode }} {{ show_data.contacts.first.city }}
    
</p>
<p>
    {% if show_data.contacts.first.phone1 is not empty %}<b>{% trans %}Phone{% endtrans %}</b> : {{ show_data.contacts.first.phone1 }}<br />{% endif %}
    {% if show_data.contacts.first.phone2 is not empty %}{% trans %}Phone supplement{% endtrans %} : {{ show_data.contacts.first.phone2 }}<br />{% endif %}
    {% if show_data.contacts.first.mobile is not empty %}{% trans %}Mobile phone{% endtrans %} : {{ show_data.contacts.first.mobile }}<br />{% endif %}
    {% if show_data.contacts.first.fax is not empty %}{% trans %}Fax{% endtrans %} : {{ show_data.contacts.first.fax }}{% endif %}
</p>
<p>
{% if show_data.contacts.first.email is not empty %}{% trans %}Email{% endtrans %} : <a href="mailto:{{ show_data.contacts.first.email }}">{{ show_data.contacts.first.email }}</a><br />{% endif %}
{% if show_data.contacts.first.rib is not empty %}{% trans %}RIB{% endtrans %} : {{ show_data.contacts.first.rib }}{% endif %}
</p>
<button onclick="javascript:window.history.go(-1);" class="btn btn-info">{% trans %}Back{% endtrans %}</button>
{% endblock %}
