{% extends "common.twig" %}
{% import "form.twig" as forms %}

{% set title = {'logo': "",
                'title': "General Admin"|trans,
                'help': "Update general configuration of Igestis"|trans} %}
 
{% block javascriptFiles %}
    {{ parent() }}
    <script src="{{ TEMPLATE_URL }}/js/ace/ace.js?{{ CORE_VERSION }}" type="text/javascript" charset="utf-8"></script>   

{% endblock %}

{% block content %}
<ul class="nav nav-tabs">

  <li class="active">
      <a href="#cache-tab"  data-toggle="tab">{% trans %}Caches{% endtrans %}</a>
  </li>
  {#
  <li>
      <a href="#css-tab"  data-toggle="tab">{% trans %}Custom stylesheet{% endtrans %}</a>
  </li>#}
</ul>


<form id="form_data" method='post' action=''>
    <div class="tab-content">
        <div class="tab-pane active" id="cache-tab">
            <h2>{% trans %}Clean caches{% endtrans %}</h2>
            {{ forms.switchbox("clearTemplatesCache", "Clear templates cache"|trans) }}
            {{ forms.switchbox("regenLocales", "Clear languages cache"|trans) }}
        </div>

        <div class="tab-pane" id="css-tab">
            <div id="css-editor" class="ace-editor">{{ cssContent }}</div>
            <textarea name="cssContent" id="cssContent" style="display: none"></textarea>
        </div>
    </div>

    <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans %}Apply actions{% endtrans %}</button>
        </div>

</form>

<script>
(function() {
    var editor = ace.edit("css-editor");
    editor.setTheme("ace/theme/github");
    editor.getSession().setMode("ace/mode/css");

    $("#form_data").validate({
       submitHandler: function(form) {
         $("#cssContent").val(editor.getSession().getValue());
         form.submit();
       }
    });
})();

</script>

    
{% endblock %}
    
