{% extends "common.twig" %}

{% set title = {'logo': "emblem-suppliers",
                'title': "Suppliers management"|trans,
                'help': "Add and remove your suppliers. This also includes the companies which are your suppliers."|trans} %}

{% block content %}

{% if username != ADMIN_ACCOUNT %}

{% import "table.twig" as table %}
{{ table.datatable() }}


    
<script type="text/javascript">
    function delete_supplier(id) {
        bootbox.confirm("{% trans %}Are you sure that you want to delete this supplier ?{% endtrans %}", "{% trans %}No{% endtrans %}", "{% trans %}Yes{% endtrans %}", function(result) {
            if(result) window.location.href="{{ url('suppliers_delete', {"Id":''}) }}" + id;
        });
    }
</script>

<div class="container" align="right">
        <a href="{{ url('suppliers_new') }}" class="btn btn-success btn-small"><i class="icon-plus-sign icon-white"></i> {% trans %}Add a new supplier{% endtrans %}</a>
</div>
<br />

    <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-condensed table-striped" id="table_data">
        <thead>
            <tr>
                <th>{% trans %}Company name{% endtrans %}</th>
                <th>{% trans %}City{% endtrans %}</th>
                <th class="hidden-phone">{% trans %}Phone{% endtrans %}</th>
                <th class="hidden-phone">{% trans %}Mobile{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
           {% for row in table_data %}
                <tr>
                    <td>{{ row.user.userLabel }}</td>
                    <td>{{ row.city }}</td>  
                    <td class="hidden-phone">{{ row.phone1 }}</td> 
                    <td class="hidden-phone">{{ row.mobile }}</td>
                    <td>
                        <a href="{{ url('suppliers_show', {'Id':row.user.id}) }}" class="btn btn-mini a-visible-line-on-over">
                            <i class="icon-eye-open"></i> {% trans %}View{% endtrans %}
                        </a>
                        <a href="{{ url('suppliers_edit', {'Id':row.user.id}) }}" class="btn btn-mini a-visible-line-on-over">
                            <i class="icon-edit"></i> {% trans %}Edit{% endtrans %}
                        </a>
                        <a href="javascript:delete_supplier('{{ row.user.id }}')" class="btn btn-danger btn-mini a-visible-line-on-over">
                            <i class="icon-trash icon-white"></i> {% trans %}Delete{% endtrans %}
                        </a>
                    </td>
                </tr>
          {% endfor %}
            </tbody>
        </table>

{% else %}{# if username == ADMIN_ACCOUNT #}

<div class="alert alert-error">
     <strong>{% trans from "Module:core" %}Warning!{% endtrans %}</strong><br />
             {% trans from "Module:core" %}You cannot create a customer or provider, please create an employee account before.{% endtrans %}<br /><br />
     <button class="btn btn-danger" onclick="javascript:window.location.href='{{ url('employees_new') }}'">{% trans from "Module:core" %}Create an employee{% endtrans %}</button>
</div>
{% endif %}
        
{% endblock %}
