<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>iGestis - {{ TITLE }}</title>
        <META NAME="Author" CONTENT="Gilles HEMMERLE, Iabsis Sarl" />
        <META NAME="Copyright" CONTENT="Iabsis Sarl" />        
        
        <link rel="stylesheet" href="{{ TEMPLATE_URL }}/swfupload.css" media="screen" type="text/css" />
        <link rel="stylesheet" href="{{ TEMPLATE_URL }}/form-field-tooltip.css" media="screen" type="text/css" />
        <link rel="stylesheet" href="{{ TEMPLATE_URL }}/inettuts.css" type="text/css" />
        
        <!-- CSS pour jquery -->
        <link rel="stylesheet" href="{{ TEMPLATE_URL }}/jquery/jquery-ui-1.8.16.custom.css" type="text/css" />
        <link href="{{ TEMPLATE_URL }}/css/bootstrap.css" rel="stylesheet"/>
        <link href="{{ TEMPLATE_URL }}/css/bootstrap-responsive.css" rel="stylesheet"/>
        <link href="{{ TEMPLATE_URL }}/css/select2.css?{{ CORE_VERSION }}" rel="stylesheet"/>
        <link href="{{ TEMPLATE_URL }}/stylesv2.css" rel="stylesheet"/>
        <link rel="stylesheet" href="{{ TEMPLATE_URL }}/styles.css" media="screen" type="text/css" />
        <link rel="stylesheet" href="{{ TEMPLATE_URL }}/jquery/jquery-ui-1.8.16.custom.css" type="text/css" />
        
        <link rel="icon" type="image/png" href="{{ TEMPLATE_URL }}/images/favicon.png" />

        <!--[if lt IE 6]>
	<style type="text/css">
	@import "{{ TEMPLATE_URL }}/hacks_ie6plus.css";
	<![endif]-->

    {% include 'translations.twig' %}
    {% import "form.twig" as forms %}
        
        <script type="text/javascript" src="{{ SERVER_ADDRESS }}/includes/dhtml_suite/separate_files/dhtmlSuite-common.php"></script>
        <script type="text/javascript">
            DHTMLSuite.include("calendar");
            DHTMLSuite.include("modalMessage");
            DHTMLSuite.include("dynamicTooltip");	
        </script>

        
        
        <script type="text/javascript" src="{{ SERVER_ADDRESS }}/includes/shortcuts/shortcut.js"></script>
        <script type="text/javascript" src="{{ TEMPLATE_URL }}/rounded-corners.js"></script>
        <script type="text/javascript" src="{{ TEMPLATE_URL }}/form-field-tooltip.js"></script>
        <script src="{{ TEMPLATE_URL }}/js/jquery.js"></script>
        <script type="text/javascript" src="{{ SERVER_ADDRESS }}/includes/jquery/jquery-ui-1.8.16.custom.min.js"></script>
        <script src="{{ TEMPLATE_URL }}/js/jquery.validate.js"></script>
        <script src="{{ TEMPLATE_URL }}/js/jquery.form.js"></script>
        <script src="{{ TEMPLATE_URL }}/js/bootbox.js"></script>
        <script src="{{ TEMPLATE_URL }}/js/jquery.datatables.js"></script>
        <script src="{{ TEMPLATE_URL }}/scripts.js"></script>
        <script src="{{ TEMPLATE_URL }}/js/bootstrap.js?{{ CORE_VERSION }}"></script>
        <script src="{{ TEMPLATE_URL }}/js/select2.js?{{ CORE_VERSION }}"></script>
        <script src="{{ TEMPLATE_URL }}/scriptsv2.js?{{ CORE_VERSION }}"></script>
        <script src="{{ TEMPLATE_URL }}/js/unserialize.js"></script>
        
        <!-- IF DEBUG --><script type="text/javascript" src="{{ TEMPLATE_URL }}/js/xdebug.js"></script><!-- ENDIF DEBUG -->
	{{ SCRIPT_XAJAX | raw }}

    </head>

    <body  class="{% if DEBUG_MODE %}debug-mode{% endif %}">
        
        
        <div class="wrapper">
            {% if DEBUG_MODE %}
                {% include 'debugToolbar.twig' %}
                <div class="menu">
            {% endif %}
                
                    {% include 'menu.twig' %}
            {% if DEBUG_MODE %}
                </div>
            {% endif %}
            
                
        <header class="header-blue">
            <div class="container">
                <div class="title">
                {% include 'title.twig' %}
                    </div>
            </div>
        </header>
                <div class="header-spacer"></div>
                <div class="content">
            <div class="container" id="general-container">
                
                {% include 'wizz.twig' %}
                
                <div class="row-fluid"  id="global-page-content">
                    {% block content %}
                        {% trans from "Module:core" %}Don't call this template directly, but extend this template from an other twig{% endtrans %}
                    {% endblock %}
                </div>
                <div class="push"></div>
            </div><!--/.container-->
            </div>
        </div><!--/.wrapper-->
        <div class="footer">
                {% include 'footer.twig' %}
        </div><!--/.footer-->
    </body>
</html>