{% if sidebar is not defined and MODULE_SIDEBAR is defined %}
    {% set sidebar = MODULE_SIDEBAR %}
{% endif %}

<div class="well sidebar-nav">
    <ul class="nav nav-list" id="ul-sidebar">
        {% for section in sidebar %}
            <li class="nav-header">{{ section.label }}</li>
            {% for link in section.links %}
                <li {% if link.url == CURRENT_URL or link.selected %}class="active"{% endif %}>
                    {% if link.content %}
                        {% autoescape false %}{{ link.content }}{% endautoescape %}
                    {% else %}
                        <a href="{{ link.url }}">{{ link.label }}</a>
                        {% if link.extra %}<a class="extra-logo" href="{{ link.extra.href }}"><i class="{{ link.extra.logo }}"></i></a>{% endif %}
                    {% endif %}
                        
                </li>
            {% endfor%}
        {% endfor %}

    </ul>
</div><!--/.well -->